<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Numero de control</ion-label>
            <ion-input [(ngModel)]="student.controlnumber" formControlName="controlNumber"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['controlNumber']">
              <div class="errormessage" *ngIf="(myForm.get('controlNumber').dirty || 
              myForm.get('controlNumber').touched) 
              &&myForm.get('controlNumber').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="student.name" formControlName="name"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['name']">
              <div class="errormessage" *ngIf="(myForm.get('name').dirty || 
              myForm.get('name').touched) 
              &&myForm.get('name').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">CURP</ion-label>
            <ion-input [(ngModel)]="student.curp" formControlName="curp" id="campo"
              onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">
            </ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['curp']">
              <div class="errormessage" *ngIf="(myForm.get('curp').dirty || 
              myForm.get('curp').touched) 
              &&myForm.get('curp').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input [(ngModel)]="student.age" formControlName="age"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['age']">
              <div class="errormessage" *ngIf="(myForm.get('age').dirty || 
              myForm.get('age').touched) 
              &&myForm.get('age').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">NIP</ion-label>
            <ion-input [(ngModel)]="student.nip" formControlName="nip"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['nip']">
              <div class="errormessage" *ngIf="(myForm.get('nip').dirty || 
              myForm.get('nip').touched) 
              &&myForm.get('nip').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">eMail</ion-label>
            <ion-input [(ngModel)]="student.email" formControlName="email"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['email']">
              <div class="errormessage" *ngIf="(myForm.get('email').dirty || 
              myForm.get('email').touched) 
              &&myForm.get('email').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Carrera</ion-label>
              <ion-select [(ngModel)]="student.career" placeholder="Selecciona una carrera" formControlName="career">
                <ion-select-option *ngFor="let item of careers; let i=index">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <div>
            <ng-container *ngFor="let item of validationMessages['career']">
              <div class="errormessage" *ngIf="(myForm.get('career').dirty || 
              myForm.get('career').touched) 
              &&myForm.get('career').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">Fotografía</ion-label>
            <ion-input [(ngModel)]="student.photo" formControlName="photo"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of validationMessages['photo']">
              <div class="errormessage" *ngIf="(myForm.get('photo').dirty || 
              myForm.get('photo').touched) 
              &&myForm.get('photo').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-button [disabled]="!myForm.valid" slot="end" (click)="newStudent()" expand="block" fill="clear"
        shape="round">
        Agregar nuevo Estudiante
      </ion-button>
    </form>
  </ion-grid>
</ion-content>